body{
    color: #000000;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    /* background-image: linear-gradient(to right, #7b82e4, #4b77c5, #2469a3, #11597f, #17475c); */
    background-image: linear-gradient(to right, #7bdee4, #8bdee4, #9adfe3, #a7dfe3, #b4dfe2);
}

.top-container{
    background-image: linear-gradient(to right, #7bdee4, #8bdee4, #9adfe3, #a7dfe3, #b4dfe2);
    position: relative;
    padding: 100px;
}

.backgrounimg{
    width: 50%;
}

.profilepic{
    width: 15%;
}

h1{
    font-size: 5.625rem;
    color: #18607F;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2{
    color: #40a0c9;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

h3{
    color: #18607F;
    font-family: 'Montserrat', sans-serif;
}

hr{
    border: dotted #18607F 6px;
    border-bottom: none;
    width: 10%;
    margin: 100px auto;
}

.bottom-smallback{
    position: absolute;
    left: 300px;
    bottom: 100px;
}

.top-smallback{
    position: absolute;
    top: 400px;
    right: 300px;
}

.top1-container{
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 200px;
    top: 705px;
}

.middle-container{
    margin: 50px 0;
}

.bottom-container{
    /* background-image: linear-gradient(to right, #7bdee4, #8bdee4, #9adfe3, #a7dfe3, #b4dfe2); */
    padding: 50px 0 20px;
}

.contact-msg{
    width: 40%;
    margin: 40px auto 60px;
}

p{
    
    line-height: 2;
}

.pro{
    text-decoration: underline;
}

.intro{
    width: 30%;
    margin: auto;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skill-1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill-2{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.btn {
    background: #18607F;
    background-image: -webkit-linear-gradient(top, #18607F, #40a0c9);
    background-image: -moz-linear-gradient(top, #18607F, #40a0c9);
    background-image: -ms-linear-gradient(top, #18607F, #40a0c9);
    background-image: -o-linear-gradient(top, #18607F, #40a0c9);
    background-image: linear-gradient(to bottom, #18607F, #40a0c9);
    -webkit-border-radius: 13;
    -moz-border-radius: 13;
    border-radius: 13px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #40a0c9;
    background-image: -webkit-linear-gradient(top, #40a0c9, #18607F);
    background-image: -moz-linear-gradient(top, #40a0c9, #18607F);
    background-image: -ms-linear-gradient(top, #40a0c9, #18607F);
    background-image: -o-linear-gradient(top, #40a0c9, #18607F);
    background-image: linear-gradient(to bottom, #40a0c9, #18607F);
    text-decoration: none;
  }

  a{
    color:#18607F;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 10px;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover{
    color: #ffffff;
  }

  .copyright{
    color: #18607F;
    font-size: 1.1rem;
    padding: 20px 0;
    font-weight: bold;
  }